h1{
  text-align: center;
}
.filter{
  width: 60vw;
  padding: 20px;
  background-color: rgba(206, 202, 202, 0.596);
  border-radius: 20px;
  margin: auto;
}
button{
  padding: 10px 15px;
  margin-left: 10px;
  background-color: rgb(187, 180, 180);
  border: none;
  margin-top: 10px;
  
}
table{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 30px;
  width: 70vw;
}

.row{
  border: 1px solid black;
display: flex;
justify-content: space-between;
  /* background-color: aqua; */
}
.row td:nth-child(2){
  width: 140px;
}
td{
  border-left: 1px solid black;
  margin: 0;
  
}